/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.contact-size {
  height: 80px;
  width: 300px;
  border: solid 2px blue;
  font-size: 1.35em;
  margin-bottom: 25px;
  border-radius: 5px;
  padding: 5px;
}
