/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.contact-size {
  height: 80px;
  width: 300px;
  border: solid 2px blue;
  font-size: 1.35em;
  margin-bottom: 25px;
  border-radius: 5px;
  padding: 5px;
}
.contact-person {
  background-color: yellow;
  border: 2px solid blue;
  border-radius: 5px;
  float: left;
  height: 180px;
  margin: 5px 0 5px 20px;
  padding: 15px;
  width: 300px;
  h5 {
    font-size: 0.8em;
    margin-left: 50px;
  }
}


.contact-card {
  background-color: yellow;
  border: 2px solid blue;
  border-radius: 5px;
  height: 180px;
  margin: 5px 0 5px 20px;
  padding: 15px;
  width: 300px;
  h5 {
    font-size: 0.8em;
    margin-left: 50px;
  }
}

.host {
  margin-left: 180px;
}

.user-btn {
  padding-left: 20px;
}
