/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

@import "colors";

ul#users {
  font-size: 1.2em;
  list-style: none;
  padding: 0;

  li {
    margin: 1em 0;
  }
}

.sign-up {
  margin: 20px 0 0 80px;
  font-size: 1.6em;
}
